/.ddev/
/.env*
/.idea
/vendor/
/config/app.php
/config/general.php
/config/license.key
/config/license.key.1
/config/redirects.php
/config/routes.php
/storage/
/web/
/web
.DS_Store
/craft
/bootstrap.php
